{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} Разработка и исследование ономастикона электронных бытовых приборов {% endblock %}</h2>
{% endblock %}

{% block image %}
    <img src="static/me.jpg" width="165" height="220" alt="Алёна" class="rounded float-right">
{% endblock %}

{% block text_enter %}
    <h5><br>Всем привет!<br></h5>
{% endblock %}

{% block text_description %}
    <h6>Меня зовут Алёна, я учусь на 2 курсе ФиКЛа</h6>
    <h6>В рамках своей курсовой работы я исследую <b>ономастикон*</b> электробытовых приборов<br></h6>
    <h10>* <i>ономастикон - совокупность собственных имён в каком-либо языке</i><br></h10>
    <h6><br>На этой страничке Вы можете посмотреть на уже имеющиеся результаты или <br>
        стать участником исследования!</h6>
{% endblock %}