{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Вы чудесны! {% endblock %}</h1>
{% endblock %}

{% block text_main_1 %}
    <h5>Спасибо большое, что уделили опросу свое драгоценное время<br>
        <br>
        Если у вас есть желание пройти более полный опрос и войти в историю, напишите мне в тг @mlemrr<br>
        <br>
        А по этой ссылке можно узнать текущую статистику исследования
    </h5>
{% endblock %}

{% block text_description %}
    <a href="/statistics" class="link-secondary"><h4><u>Статистика!</u></h4></a>
{% endblock %}